body{
    background-color: #ffffff;
    margin:0px;
}



/*   FOOTER   */



.footer{
    padding:auto;
    background-color: #926AA6;
}
.footer h1{
    font-size:35px;
    font-family: 'Arial';
    color:white;
    font-weight: lighter;
}
.footer p.copyright{
    margin:auto;
    padding-left: 10%;
    color:white;
    font-weight: lighter;
    text-align: center;
    font-family: 'Courier';
}



/*   FLEX   */



.flex-parent{
    display: flex;
}
.flex-child{
    flex: 1;
    padding:3%;
}
.flex-child:first-child {
    margin-right: 20px;
}